@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Roboto", "arial,helvetica,verdana" !important;
}
